* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-color: grey;
}

div {
  display: block;
}

.wrapper {
  text-align: center;
}

.pozadina {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2vw;
}

.semafor {
  height: 10vw;
  width: 10vw;
  outline-style: solid;
  outline-width: 0.5vw;
  outline-color: black;
  border-radius: 50%;
}

.crveno {
  background-color: red;
}

.zuto {
  background-color: yellow;
}

.zeleno {
  background-color: green;
}
