@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(54, 54, 54);
  height: 100vh;
}

.tlight__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tlight {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 7vw;
  width: 7vw;
  border: black solid 6px;
  border-radius: 50%;
  margin: 0 1vw;
}

.num {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: white;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
